<article>
  {% if include.title %}
    {% capture title %}
      {% include format-title.html title=include.title %}
    {% endcapture title %}
    <div class="title-container">
    {% if include.title_url %}
      <a href="{{ include.title_url }}"><h1 class="title">{{ title }}</h1></a>
    {% else %}
      <h1 class="title">{{ title }}</h1>
    {% endif %}
    </div>
  {% endif %}
  {% if include.date %}
  <div class="time">
    {{ include.date | date_to_string }}
  </div>
  {% endif %}
  <div class="article">
    {{ include.content }}
  </div>
</article>
