{% comment %}
  the debug grid
{% endcomment %}
{% include script name="hashgrid" %}
<script type="text/javascript">
  $(document).ready(function() {
    var grid = new hashgrid({numberOfGrids: 2});
  });
</script>
<style type="text/css">
/**
 * Grid
 */
#grid{
    z-index: 9999;
    /* Dimensions - same width as your grid with gutters */
    width: 1440px;

    /* Grid (left-aligned) */
    position: absolute;
    top: 0;
    left: 0;

    /* Grid (centered)
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -490px;
    */
}

/**
 * Vertical grid lines
 *
 * Set the column width taking the borders into consideration,
 * and use margins to set column gutters.
 */
#grid div.vert{

    width: 5rem;
    border: solid darkturquoise;
    border-width: 0 1px;
    margin-right: 1rem;

}

#grid div.vert.first-line{

    margin-left: 2rem;

}


/**
 * Horizontal grid lines, defined by your base line height
 *
 * Remember, the CSS properties that define the box model:
 * visible height = height + borders + margins + padding
 */
#grid div.horiz{

    height: 1.5rem;
    border-bottom: 1px dotted darkgray;
    margin: 0;
    padding: 0;

}

/**
* Classes for multiple grids
*
* When using more than one grid, remember to set the numberOfGrids 
* option in the hashgrid.js file.
*/
/*
#grid.grid-1 div.vert{
    border-color: darkturquoise;

}
#grid.grid-2{

    padding: 0 160px;
    width: 660px;

}
#grid.grid-2 div.vert{
    border-color: crimson;

}
*/

#grid.grid-2 div.vert.first-line {
  margin-left: 1rem;
}
</style>
