<ul>
  <li><a href="{{ site.baseurl }}/">
    {% if page.title=="Home" and page.layout=="home" %}
      <strong>Home</strong>
    {% else %}
      Home
    {% endif %}
  </a></li>
  <li><a href="{{ site.baseurl }}/blog/">
    {% if page.title=="Blog" and page.layout=="home" %}
      <strong>Blog</strong>
    {% else %}
      Blog
    {% endif %}
  </a></li>
  {% for node in site.pages %}
    {% if node.layout=="page" %}
      {% if node.title %}
        <li><a href="{{ site.baseurl }}{{ node.url }}">
          {% if page.title==node.title %}
            <strong>{{ node.title }}</strong>
          {% else %}
            {{ node.title }}
          {% endif %}
        </a></li>
      {% endif %}
    {% endif %}
  {% endfor %}
</ul>
