@charset "utf-8";
// typography
$theme-font-sans-serif: "Trebuchet MS", Helvetica, "Microsoft YaHei", "微软雅黑", "STXihei", "华文细黑", "SimHei", sans-serif;
$theme-font-monospace: "Trebuchet MS", Helvetica, "Microsoft YaHei", "微软雅黑", "STXihei", "华文细黑", "SimHei", sans-serif;
$theme-font-serif: "Trebuchet MS", Helvetica, "Microsoft YaHei", "微软雅黑", "STXihei", "华文细黑", "SimHei", sans-serif;

// colors
$theme-color: #333;
$theme-color-light: #aaa;
$theme-background-color: #fff;
$theme-background-color-light: #ccc;
