---
---

$use-media-query: true;

$nav-full-width: 18rem;

@import "theme";
@import "mixins";
@import "breakpoints";
@import "neat";

// hyperlink styles
a {
  color: $theme-color;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

a:active, a:hover, a:focus {
  color: inherit;
  text-decoration: underline;
}

%center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text {
}

.code {
}

// Layout positioning

// position for the main nav bar
.navbar {
  position: fixed;
  left: 0;
  width: $nav-full-width;
  top: 0;
  bottom: 0;
  .navbar-container {
    position: absolute;
    left: 2em;
    right: 2em;
    bottom: 2em;
    .banner {
      .avatar {
        width: $nav-full-width*0.35;
        @include border-radius(0.7rem);
      }
      .title {
        font-size: 2.7rem;
      }
      .desc {
        font-size: 1rem;
      }
    }
    .menu {
      padding: 0;
      margin: 1em 0;
      list-style-type: none;
    }
  }
}

// position for the main content
.content {
  margin: 4rem 0rem 4rem $nav-full-width;
  padding: 0 6rem;
  max-width: 43rem;

  h1 { font-size: 2rem; }
  h2 { font-size: 1.5rem; }
  h3 { font-size: 1.2rem; }
  h4 h5 h6{ font-size: 1rem; }

  article {
    margin: 2rem 0;
    .title {
    }
    .time {
      color: $theme-color-light;
    }
  }
}

// Theme coloring

// navbar use inverted color
.navbar {
  background-color: $theme-color;
  color: $theme-background-color;
  a { color: $theme-background-color; }
  .navbar-container {
    .banner {
      .avatar {
        background-color: $theme-background-color;
      }
      .title {
      }
      .desc {
        color: $theme-background-color-light;
      }
    }
  }
}
