---
---

$font-sans-serif: "Trebuchet MS", Helvetica, 'microsoft yahei', sans-serif;
$theme-color: #333;

@mixin text-size-adjust($option) {
    -webkit-text-size-adjust: $option;
        -ms-text-size-adjust: $option;
            text-size-adjust: $option;
}

@mixin box-sizing($option) {
    -webkit-box-sizing: $option;
       -moz-box-sizing: $option;
            box-sizing: $option;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

*, *:before, *:after {
  //outline: 1px solid red; // for debug purpose
  @include box-sizing(inherit);
}

// setup fundamental things
html {
  font-size: 20px;               // for rem unit
  font-family: $font-sans-serif; // for global font-family
  line-height: 1.5;              // for standard line height
  @include box-sizing(border-box);
  @include text-size-adjust(100%);
}

// adjust when screen is small
@media (max-width:768px) {
html {
  font-size: 16px;
}
}

// reset margin and padding for body
html, body, div, p, h1 {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;        // for conformance
}

a, a:visited {
  color: $theme-color;
  text-decoration: none;
}

a:active, a:hover, a:focus {
  color: $theme-color;
  text-decoration: underline;
}

nav.navbar {
  background-color: $theme-color;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 18rem;
  line-height: 1.75;

  a {
    color: #fff;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    display: block;
  }

  .logo {
    font-size: 3.25rem;
  }

  .page-nav {
    position: absolute;
    left: 1rem;
    right: 1rem;
    bottom: 1rem;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.content {
  margin-left: 22rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

article {
  h1 {
    font-size: 2em;
  }
}
